.colorInput {
  width: 2rem;
  height: 2rem;
  padding: 0.125rem;
  background-color: transparent;
  border-width: 2px;
  border-radius: 0.375rem;
  cursor: pointer;
  appearance: none;
  color: var(--color-text-secondary);
  border-color: currentColor;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.colorInput::-moz-color-swatch {
  border: none;
  border-radius: 4px;
} 