.card {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.title {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: var(--color-text-primary);
}

.description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-text-secondary);
  margin-bottom: 1rem;
  flex-grow: 1;
}

.date {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
  margin-top: auto;
}

.card:hover {
  background-color: var(--color-background-secondary);
}

.card:hover .title {
  color: var(--color-primary-accent);
} 

.icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}